<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title><%= pageTitle %> | E-Cart</title>
    <link rel="stylesheet" href="/styles/root.css">
    <link rel="stylesheet" href="/styles/authentication/style.css">
    <link rel="stylesheet" href="/styles/authentication/responsive.css">
    <link rel="stylesheet" href="/styles/forIncludes/popups.css">
    <style>
        .pop-up-container{
            position: initial;
            top:0;
            padding:12px;
            margin-bottom: 8px;
        }
    </style>
</head>

<body>
    <section>
        <div class="auth-sidebar">
            <img src="/assets/illustrations/login_illustrator.svg" alt="Welcome Back">
        </div>
        <div class="auth-content">
            <form action="/reset-password" id="auth-form" class="auth-form" method="post" novalidate>
                <h3>E-Cart</h3>
                <h2>Reset Password</h2>
                <% if(errorMessage.length > 0){ %>
                <%- include('../includes/popups/dangerPopup.ejs', { message: errorMessage}) %>
                <% } %>
                <% if(successMessage.length > 0){ %>
                <%- include('../includes/popups/successPopup.ejs', { message: successMessage}) %>
                <% } %>
                <% if(warningMessage.length > 0){ %>
                <%- include('../includes/popups/warningPopup.ejs', { message: warningMessage}) %>
                <% } %>
                <div class="input-container">
                    <label for="new_password">New Password</label>
                    <small class="input-error" id="new_password-err"></small>
                    <input type="password" name="new_password" id="new_password" placeholder="Enter new password">
                </div>
                <div class="input-container">
                    <label for="confirm_password">Confirm Password</label>
                    <small class="input-error" id="confirm_password-err"></small>
                    <input type="password" name="confirm_password" id="confirm_password" placeholder="Confirm new password">
                </div>
                <div class="input-container">
                    <input type="hidden" name="userId" value="<%= userId %>">
                    <button type="submit" class="auth-submit-btn">Submit</button>
                </div>
                <a href="/forgot-password" class="back-to-home">
                    Back
                </a>
            </form>
        </div>
    </section>

    <script src="/js/authentication/resetPasswordValidation.js"></script>
    <script src="/js/includes/popups.js"></script>
</body>

</html>