<%- include('../includes/head.ejs') %>
    <link rel="stylesheet" href="/styles/manage_profile/change-password.css">
</head>

<body>
    <%- include('../includes/header.ejs') %>
    
    <main>
        <a href="/profile" class="back-btn mtb-8">
            Back 
        </a>
        
        <div class="page-title-info mtb-8">
            <h1 class="page-title">Change password</h1>
            <p class="page-info">Seller can change their password here.</p>
        </div>

        <% if(errorMessage.length > 0){ %>
        <%- include('../includes/popups/dangerPopup.ejs', { message: errorMessage}) %>
        <% } %>
        <% if(successMessage.length > 0){ %>
        <%- include('../includes/popups/successPopup.ejs', { message: successMessage}) %>
        <% } %>
        <% if(warningMessage.length > 0){ %>
        <%- include('../includes/popups/warningPopup.ejs', { message: warningMessage}) %>
        <% } %>
        
        <div class="changePassword-form-container mtb-8">
            <form action="/change-password" method="post" id="changePassword-form" class="changePassword-form" novalidate>
                <div class="input-container">
                    <label for="old_password">Old Password</label>
                    <small class="input-error" id="old_password-err"></small>
                    <input type="text" name="old_password" id="old_password" placeholder="Enter Old password">
                </div>
                <div class="input-container">
                    <label for="new_password">New Password</label>
                    <small class="input-error" id="new_password-err"></small>
                    <input type="password" name="new_password" id="new_password" placeholder="Enter New password">
                </div>
                <div class="input-container">
                    <label for="confirm_password">Confirm Password</label>
                    <small class="input-error" id="confirm_password-err"></small>
                    <input type="password" name="confirm_password" id="confirm_password" placeholder="Confirm New password">
                </div>
                <div class="submit-container">
                    <button type="submit" class="submit-btn">Update Password</button>
                </div>
            </form>
        </div>
    </main>

    <%- include('../includes/footer.ejs') %>

    <%- include('../includes/scripts.ejs') %>
    <script src="/js/manageProfile/changePasswordValidation.js"></script>
</body>

</html>